<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/search.css">
    <title>Buscar</title>
</head>
<body>
        <div id="page-search">
        <header>      
            <a href="create-place.html"><span></span>Registrar</a>
        </header>
        <div class="content">
        <form action="">
            <label for="search">Cidade</label>
            <div class="search-field">
                <input type="text" name="search" placeholder="Digite a cidade">
                <button>
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div> 
</div>
</body>
</html>