{% extends "layout.html" %}

{% block title %}
    <title>Cadastrar Local</title>
{% endblock title %}

 {% block styles %}
    <link rel="stylesheet" href="/styles/create-place.css">
{% endblock styles %}

{% block content %}
        <div class="create-place">
            <div class="content">
                   {%include "partials/page-header.html" %}
                <form action="">
                    <fieldset>
                    <legend>
                        <h2> Cadastrar Local</h2>
                    </legend>
                    <div class="field-group">
                        <div class="field">
                            <label for="name"> Nome da entidade </label>
                            <input type="text" name="name">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="address"> Endereço da entidade </label>
                            <input type="text" name="address">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="state">Estado</label>
                            <select name="uf">
                                <option value="">
                                    Selecione o estado
                                </option>
                            </select>
                            <input type="hidden" name="state">
                        </div>
                        <div class="field">
                            <label for="city">Cidade</label>
                            <select name="city">
                                <option value="">Selecione a cidade</option>
                            </select>
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="phone"> Telefone </label>
                            <input type="text" name="phone">
                        </div>         
                        <div class="field">
                            <label for="whatsapp"> Whatsapp </label>
                            <input type="text" name="whatsapp">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="image"> Imagem </label>
                            <input type="text" name="image">
                        </div>         
                        <div class="field">
                            <label for="time"> Horário de funcionamento </label>
                            <input type="text" name="time">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="description"> Descrição </label>
                            <textarea name="description" cols="30" rows="5">                                
                            </textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h2>Selecione o tipo de entidade</h2>
                    </legend>
                    <div class="place-grid">
                        <li data-id="petshop">
                            <img src="/assets/petshop.svg" alt="Petshop">
                            <span>
                                Petshop
                            </span>
                        </li>
                            <li data-id="donate">
                                <img src="/assets/adocao.svg" alt="adoção">
                                <span>
                                    Adoção
                                </span>
                            </li>
                    </div>
                    <input type="hidden" name="items">
                </fieldset>
                <button type="submit">
                    Cadastrar entidade
                    </button>
                </form>
            </div>
        </div>
        <script src="/scripts/create-place.js"></script>
{% endblock content %}