{% extends "layout.html" %}

{% block title %}
    <title>Cadastrar Local</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-place.css">
{% endblock styles %}

{% block content %}
    <div class="create-place">
        <div class="content">
            {%include "partials/page-header.html" %}
            <form action="/savepoint" method="POST">
                <fieldset>
                    <legend>
                        <h2>
                            Cadastrar Local</h2>
                    </legend>
                    <div class="field-group">
                        <div class="field">
                            <label for="name">
                                Nome da entidade
                            </label>
                            <input type="text" name="name" placeholder="Nome do Petshop ou da Instituição">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="address">
                                Endereço da entidade
                            </label>
                            <input type="text" name="address" placeholder="ex: Luciano da Silveira">
                        </div>
                        <div class="field">
                            <label for="number">
                                Número/Completando 
                            </label>
                            <input type="text" name="number"  placeholder="ex: 230 ou 2ºandar">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="address2">
                                Bairro
                            </label>
                            <input type="text" name="address2" placeholder="ex: Centro">
                        </div>
                        <div class="field">
                            <label for="state">Estado</label>
                            <select name="uf">
                                <option value="">
                                    Selecione o estado
                                </option>
                            </select>
                            <input type="hidden" name="state">
                        </div>
                    </div>
                    <div class="field-group">                        
                        <div class="field">
                            <label for="city">Cidade</label>
                            <select name="city">
                                <option value="">Selecione a cidade</option>
                            </select>
                        </div>
                        <div class="field">
                            <label for="phone">
                                Telefone
                            </label>
                            <input type="text" name="phone" placeholder="ex: (xx) xxxx-xxxx">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="whatsapp">
                                Whatsapp
                            </label>
                            <input type="text" name="whatsapp" placeholder="ex: (xx) xxxxx-xxxx">
                        </div>
                        <div class="field">
                            <label for="image">
                                Imagem
                            </label>
                            <input type="url" name="image" placeholder="http://">
                        </div>                      
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="open">
                                Horário de funcionamento
                            </label>
                            <input type="time" name="open" >                           
                        </div>
                        <div class="field">
                            <label for="close">
                           <strong> Até: </strong>
                            </label>
                            <input type="time" name="close">                           
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="description">
                                Descrição
                            </label>
                            <textarea name="description"  placeholder="Uma descrição do local ou um anúncio !" cols="30" rows="4"></textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h2>Selecione o tipo de entidade</h2>
                    </legend>
                    <div class="place-grid">
                        <li data-id="Petshop">
                            <img src="/assets/petshop.svg" alt="Petshop">
                            <span>
                                Petshop
                            </span>
                        </li>
                        <li data-id="Adoção">
                            <img src="/assets/adocao.svg" alt="adoção">
                            <span>
                                Adoção
                            </span>
                        </li>
                    </div>
                    <input type="hidden" name="places">
                </fieldset>
                <button type="submit">
                    Cadastrar entidade
                </button>
            </form>
        </div>
    </div>
    <script src="/scripts/create-place.js"></script>
{% endblock content %}