{% extends "layout.html" %}

{% block styles %}
				<link rel="stylesheet" href="styles/login.css">
{% endblock styles %}

{% block content %}

	<div class="page-login">
		<div class="content">
			<header>
				<a href="/record"><span></span>Cadastra-se</a>
			</header>
		<div class="title">
			<div>Pet<span>Home</span>
			</div>
		</div><br>
		<div class="login">
			<form action="/?" method="POST">
			<input type="text" placeholder="username" name="user"><br>
			<input type="password" placeholder="password" name="password"><br>
			<input type="submit" value="Login"">
			</form>
		</div>
	</div>
</div>
{% endblock content %}