{% extends "layout.html" %}

{% block title %}
    <title>Cadastra-se</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/record.css">
{% endblock styles %}

{% block content %}
    <div id="page-record">
        <div class="content">
            <header>
                <a href="/">
                    <span></span>
                    Voltar
                </a>
            </header>
            <form action="/saveuser" method="POST">
                <legend>
                    <h2>Dados do Usuário
                    </h2>
                </legend>
                <div class="field-group">
                    <div class="field">
                        <label for="name">
                            Digite seu nome
                        </label>
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <label for="user">
                            Usuario
                        </label>
                        <input type="text" name="user">
                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <label for="email">
                            Email
                        </label>
                        <input type="text" name="email">
                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <label for="password">
                            Digite sua senha
                        </label>
                        <input type="password" name="password">
                    </div>
                </div>
                <button type="submit">
                    Cadastrar Usuário
                </button>
            </form>
        </div>
    </div>
{% endblock content %}