{% extends "layout.html" %}

{% block title %}
    <title>Buscar</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/responsive.css">
{% endblock styles %}

{% block content %}
    <div id="page-search">
        <header>
            <a href="/create-place">
                <span></span> Registrar / </a> <h6> <a href="/"> Sair</a> </h6>
                
        </header>
        <div class="content">
            <form action="/page-results">
                <label for="search">Cidade</label>
                <div class="search-field">
                    <input type="text" name="search" placeholder="Digite a cidade" style="display:none" id="search">
                    <button>
                        <img src="/assets/search.svg" alt="Buscar" >
                    </button>
                </div>
            </form>
        </div>
    </div>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  $('#search').hide();

setTimeout(function(){ 
    $('#search').show();
}, 1000);
</script>
{% endblock content %}