.create-place{
    width: 90%;
    
    margin: 0 auto;
}

.create-place header{
    margin-top: 48px;
    display: flex;
    align-items: center;
	justify-content: space-between;
}
.create-place header a{
	position: absolute;
	margin-left: 1200px;
	font-size: 18px;
}

.create-place header span{
	position: absolute;
    background-image: url(../assets/enter.svg);
    width: 32px;
    height: 32px;
    right: 55px;
    bottom: -1px;
}

form{
    background-color: white;
    margin: 80px auto;
    margin-top: 80px;
    padding: 40px;
    border-radius: 8px;
    max-width: 700px;

}

form legend h2{
    color: var(--second-color);
    
}

form fieldset{
    margin-top: 60px;
    border: 0;
}

form legend{
 margin-bottom: 40px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
}

form .field-group{
   display: flex;
}

form .field{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form input, form select{
    background-color: var(--white-color);
    border: 0;
    font-size: 18px;
    padding: 16px 24px;
    border-radius: 10px;
    outline: none;
}

form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form input[type="time"]{
    font-size: 18px;
    padding: 12px 100px;
    
}

form .field-group .field + .field{
    margin-left: 24px
}

form textarea{
    background-color:var(--white-color);
    border: 0;
    padding: 0 24px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
}

form button{
    width: 200px;
    height: 50px;
    background-color: var(--title-color) ;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 380px;
    transition: 400ms;
    outline: none;

}

form button:hover{
    background-color: var(--second-color);
}

.place-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.place-grid li{
    background-color: var(--white-color);
    list-style: none;
    border: 2px solid var(--white-color);
    border-radius: 20px;
    height: 100px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    cursor: pointer;
}

.place-grid li span{
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
}

.place-grid li img{
    display: grid;
    height: 60px;
    width: 70px;
}

.place-grid li.selected{
    background: #e1faec;
    border: 2px solid var(--second-color);
}

.place-grid li img,
.place-grid li span{
    pointer-events: none;
}