
body{
	width: 90%;
	margin: 0;
	padding: 0;
	background: #eed3cc;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	overflow: hidden;
}

.page-login{
	position: absolute;
    width: 100vw;
	height: 100vh;
	background-image: url(../assets/background02.svg);
	background-repeat: no-repeat;
	background-size: 45%;
	background-position: center center; 
}

.content{
	position: absolute;
	top: 20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00000000), color-stop(100%,rgba(0, 0, 0, 0.164)));
	z-index: 1;
	opacity: 1;
}
 
.content header{
    display: flex;
    justify-content: flex-end;
    align-items: center;	
} 


.content header span{
	margin-top: 10px;
	margin-right: 100px;
    background-image: url(../assets/cadastrar.png);
    background-size: 135px;
    background-repeat: no-repeat;
    display: flex;
    width: 140px;
    height: 100px;
}


.title{
	position: absolute;
	top: calc(50% - 135px);
	left: calc(50% - 80px);
	z-index: 2;
}

.title div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 40px;
	font-weight: 400;
	
}

.title div span{
	color: #000;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 135px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 2px solid rgba(255,255,255,255);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=submit]{
	width: 250px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}