@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

:root{
    --primary-color: #010497;
    --title-color: #eed3cc;
}

html{
    font-family: 'Exo', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eed3cc;  
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Exo', sans-serif;
}